html{

    background: rgb(243, 243, 247);
  }
body {
    padding: 20px;
    background: rgb(13,12,28);
    background: linear-gradient(90deg, rgba(13,12,28,1) 0%, rgba(11,13,15,1) 100%); 
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  
  form > div {
    margin:  0 20px 0;
  }
  
  .super-agent-form {
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .super-agent-form h1{
  text-align: center;
  margin-bottom: 20px;
  
}
.super-agent-form h2 {
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
  background: rgb(203, 16, 16);
  color: white;
}
.super-agent-form p{
  text-align: justify;
  margin: 20px;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;

}
  
  .header-container {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  .header-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .header-container p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  
  .super-agent-form label {
    display: block;
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="file"],
  select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
  }
  
  .radio-group {
    display: flex;
    gap: 20px;
  }
  
  .radio-group label {
    margin: 0;
  }
  
  .char-input-group {
    display: flex;
  }
  
  .char-input {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .submission-success {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  textarea {
    height: 100px;
    width: 100%;
  }
  button:hover {
    background-color: white;
    color: black;
  }
  
  
  .file-preview {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  
  
  
  
  
  
  
  