@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{

  background: rgb(13,12,28);
  background: linear-gradient(90deg, rgba(13,12,28,1) 0%, rgba(11,13,15,1) 100%); 
}
body {
  background: rgb(13,12,28);
  background: linear-gradient(90deg, rgba(13,12,28,1) 0%, rgba(11,13,15,1) 100%); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* 100% of the viewport height */
}
.grd-brdr{
  border-image: linear-gradient(to right, #fc8181, #feb645) 1;
  border-radius: 20px !important;
  border: 2px solid transparent; 
}
.center-contnr {
  display: flex;
  justify-content: left;
  align-items: center;
  height: auto; /* 100% of the viewport height */
}
.borders {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ffffff4b;
}
